[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
djangorestframework = "*"
faker = "*"
pycountry = "*"
numpy = "*"
uvicorn = "*"
ujson = "*"
pyenchant = "*"
coverage = "*"
locust = "*"

[dev-packages]

[requires]
python_version = "3.10"
